@media only screen and (max-width:1187px){
	.header{
		&__wrap{
			width:100%;
		}
	}
	.main{
		&__wrap{
			width:100%;
		}
	}
	.footer{
		&__wrap{
			width:100%;
		}
	}
}

@media only screen and (max-width:1024px){

}

@media only screen and (max-width:992px){
	
}

@media only screen and (max-width:768px){
	
}

@media only screen and (max-width:620px){	

}

@media only screen and (max-width:480px){	

}